body{
    background-image: radial-gradient(circle, #fcd8af, #fdcda5, #fec29d, #ffb797, #ffab93, #ffa18f, #ff978c, #ff8d8b, #ff8288, #ff7886, #fe6c84, #fd6084);
}

header{
    font-family: 'Mulish', sans-serif;
    font-size: 2.2rem;
    text-align: center;
}

ul{
    list-style: none;
    font-family: 'Mulish', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

.metrics{
    border-style: dotted;
    /*border-bottom-width: 2px; Es el ancho del borde de abajo
    border-left-width: 2px; Es el ancho del borde izquierdo
    border-right-width: 2px; Es el ancho del borde derecho
    border-top-width: 2px; Es el ancho del borde de arriba*/
    border-width: 2px 2px; /* Es el ancho del borde de los elementos 2px (ancho del borde de arriba y abajo) 2px (ancho del borde de izquierda y derecha)
    /*margin-bottom: 15px; /*Es el margen inferior que separa los bordes de los elementos que tiene abajo
    margin-right: 15px; Es el margen de la derecha que separa los bordes de los elementos que tiene a la derecha
    margin-left:15px; Es el margen izquierdo que separa los bordes de los elementos que tiene a la izquierda
    margin-top: 15px; Es el margen superior que separa los bordes de los elementos que tiene arriba*/
    margin: 1rem 28rem; /*Permite controlar el espacio entre los elementos que tiene a los 4 lados. 1.5rem (espacio de arriba y abajo) y 22rem (espacio de derecha e izquierda)*/
    border-radius: 2rem;
}

textarea[name="user-input"] {
    height: 210px;
    width: 480px;
    border-radius: 5px;
    text-align: center;
}

#reset-button{
    font-family: 'Mulish', sans-serif;
    font-size: 1.8rem;
    height: 2.8rem;
    border-width: 0.3rem;
    border-radius: 0.70rem;
    border-color: #bb78ac;
    background-color: /*#B39CD0*/ #bded7e;
}

#reset-button:hover{  /*Es una pseudo-clase que se activa cuando el usuario pasa el mouse sobre el botón, pero no necesariamente lo activa.*/
    background-color: #78e0e7 /*#bded7e*/; 
    border-color: #B39CD0;
}
    
footer{
    font-family: 'Mulish', sans-serif;
    font-size: 2rem;
    text-align: center;
    background-image: radial-gradient(circle, #f5b7b1, #f7b3a9, #f8b0a1, #f8ac98, #f8a98f, #f7a184, #f69979, #f4916e, #f18160, #ee7153, #eb6047, #e74c3c);
    border-radius: .3rem;
    margin: auto 40rem ;
}
    /*background-color: #a75293 ;*/
